proxies:
proxy-providers:
  ID:
    type: http
    path: "./akun/id.yaml"
    url: "https://raw.githubusercontent.com/kamuanjing/cmfa/main/akun/id.yaml"
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 99
  SG:
    type: http
    path: "./akun/sg.yaml"
    url: "https://raw.githubusercontent.com/kamuanjing/cmfa/main/akun/sg.yaml"
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 99
      
proxy-groups:
- name: VPN
  type: select
  disable-udp: false
  proxies:
  - DIRECT
  - LoadBalance
  - Server-ID
  - Server-SG
  - Manual
  - Ping++
  
- name: Server-ID
  type: load-balance
  strategy: round-robin
  disable-udp: false
  use:
  - ID
  url: http://www.gstatic.com/generate_204
  interval: 360
  
- name: Server-SG
  type: load-balance
  strategy: round-robin
  disable-udp: false
  use:
  - SG
  url: http://www.gstatic.com/generate_204
  interval: 360
  
- name: Manual
  type: select
  disable-udp: false
  use:
  - ID
  - SG
  
- name: LoadBalance
  type: load-balance
  strategy: consistent-hashing
  disable-udp: false
  use:
  - ID
  - SG
  
- name: Ping++
  type: url-test
  strategy: round-robin
  disable-udp: false
  use:
  - ID
  - SG
  url: http://www.gstatic.com/generate_204
  interval: 360
  
- name: WA
  type: select
  disable-udp: false
  proxies:
  - DIRECT
  use:
  - ID
  - SG
  
- name: STREAMING
  type: load-balance
  disable-udp: false
  use:
  - ID
  - SG
  
rule-providers:
  WA:
    type: http
    behavior: classical
    path: "./rules/whatsapp.yaml"
    url: "https://raw.githubusercontent.com/kamuanjing/cmfa/main/rules/whatsapp.yaml"
    
  STREAMING:
    type: http
    behavior: classical
    path: "./rules/streaming.yaml"
    url: "https://raw.githubusercontent.com/kamuanjing/cmfa/main/rules/streaming.yaml"
rules:
- RULE-SET,WA,WA
- RULE-SET,STREAMING,STREAMING
- MATCH,VPN
